.Userlanding{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 0 2rem;
}

.job-list{
    margin-bottom: 2rem;
    /* border: 1px solid #e0e0e0; */
}

.job-list h2 {
    margin-bottom: 10px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .job-info {
    width: calc(33.33% - 10px); /* Set the width to one-third of the container minus the margin */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f2f2f2;
  }
  