/* Navbar.css */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.mainlogo img {
    width: 140px;
}

header div {
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    margin-left: 2rem;
}

header li a {
    /* color: #fff; */
    color: #50c878;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header li a:hover {
    color: #4DB5FF; /* Hover color for links */
}

.bx-menu {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    header div {
        display: none; /* Hide navbar links on small screens */
    }

    .bx-menu {
        display: block; /* Show menu icon */
    }
}
