.skills{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #1F1F38; */
    background: transparent;
    /* color: #fff; */
    /* padding-top: 5rem; */
    padding: 2rem 3rem;
}
.logo{
    width: 90%;
}
/* .slick-list {
    display: flex !important;
    justify-content: center;
}

.slick-track {
    display: flex !important;
    justify-content: center;
} */
.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.carousel-slide img {
    border-radius: 50%; /* Makes images circular */
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    object-fit: fill; /* Ensure the image maintains its aspect ratio within the rounded shape */
}
  
@media (max-width: 640px){
    .skills{
        padding: 3rem 4rem;
    }
    .logo{
        width: 100%;
    }
    .logo i{
        font-size: 3rem;
    }
}