.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    /* margin-top: 3.5rem; */
    /* background-image: url('../../assets/Black People.png'); */
    background-image: url('https://res.cloudinary.com/duftqodrt/image/upload/v1731083464/Black_People_tmyzfn.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.home h2{
    font-size: 40px;
    font-weight: 900;
    color: #50c878;
    /* color: #34da97; */
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.home hr{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #C5C3C5;
}

.stats{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 4rem;
    align-items: center;
    margin-bottom: 2rem;
}
.icons{
    background-color: #fff;
    padding: 10px;
    border-radius: 45%;
}
.record{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.record div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.record h6, h5{
    color: #fff;
    font-size: 18px;
}

.top{
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.top div{
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
    align-items: center;
    /* padding-top: 2rem; */
    padding-left: 3rem;
    gap: 20px;
}
.top div h4{
    font-size: 35px;
    color: #50c878;
    /* color: #34da97; */
}
.top div p{
    font-size: 20px;
    /* color: #000; */
    color: #fff;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
}
.middle h3{
    font-size: 30px;
    /* color: #000; */
    color: #fff;
}
.middle p{
    font-size: 20px;
    /* color: #000; */
    color: #fff;
}
.middle i{
    padding: 15px;
    font-size: 50px;
    /* color: #000; */
    color: #fff;
}
.middle .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    /* justify-content: space-between; */
}
.icons div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.icons h4{
    color: #fff;
}
.borders i{
    /* border: 1px solid #000; */
    border: 1px solid #fff;
    /* padding: 10px; */
    border-radius: 50%;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #DFDFDF;
    width: 100%;
    padding: 3rem 0 3rem 0;
}
.bottom .popular{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* margin-top: 3rem; */
}
.jobs img{
    background: #DFDFDF;
    padding: 1px;
    border-radius: 50%;
}
.jobs a{
    text-decoration: none;
    font-size: 20px;
    /* color: #000 */;
    color: #fff;
}

@media (max-width:640px){
    .home h2{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }
    .home hr{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .top{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .top img{
        width: 280px;
    }
    .top div h4{
        font-size: 28px;
        font-weight: 600;
    }
    .top div p{
        font-size: 20px;
        text-align: center;
    }

    .middle{
        gap: 10px;
        margin-bottom: 2rem;
    }
    .middle h3{
        font-size: 25px;
        text-align: center;
    }
    .middle p{
        font-size: 20px;
        text-align: center;
    }
    .middle i{
        padding: 10px;
        font-size: 20px;
    }
    .middle .icons{
        gap: 1.3rem;
    }

    .bottom{
        gap: 10px;
        padding: 1rem 0 1rem 0;
    }
    .bottom .popular{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
}