.categories-container {
    /* padding: 20px */
    /* background-color: #f5f5f5; */
    border-radius: 8px;
    max-width: 300px;
  }
  
  .categories-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #50c878;
  }
  
  .categories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Space between categories */
  }
  
  .category-item {
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .category-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Shadow effect */
  }
  
  .category-item.selected {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
  }
  
  .category-item h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .category-item:active {
    transform: scale(0.98);  /* Slight shrink effect on click */
  }

  .clear-filter-button {
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .clear-filter-button:hover {
    background-color: #0056b3;
  }
  